body {
  // font-family:
  //   ;
  margin: 0;
  padding: 0;
  // overflow: hidden;
  user-select: none;
  text-align: center;
}

::-webkit-scrollbar {
  display: none;
}

code {
  font-family: 'FiraCode', '思源黑体', 'Consolas', 'Courier New', monospace;
}
