.box-shadow-normal {
  box-shadow: var(--el-box-shadow);
}

.box-shadow-light {
  box-shadow: var(--el-box-shadow-light);
}

.box-shadow-lighter {
  box-shadow: var(--el-box-shadow-lighter);
}

.box-shadow-dark {
  box-shadow: var(--el-box-shadow-dark);
}
