// Apple Colors
$gray-1: rgb(142, 142, 147);
$gray-2: rgb(99, 99, 102);
$gray-3: rgb(72, 72, 74);
$gray-4: rgb(58, 58, 60);
$gray-5: rgb(44, 44, 46);
$gray-6: rgb(28, 28, 30);
$bg: rgb(28, 28, 30);
$content-block-translucent: rgba(58, 58, 60, 0.7);
$text: rgb(242, 242, 247);
$red: rgb(255, 69, 69);
$orange: rgb(255, 146, 48);
$yellow: rgb(255, 214, 0);
$green: rgb(52, 199, 89);
$cyan: rgb(60, 211, 254);
$blue: rgb(0, 145, 255);
$purple: rgb(219, 52, 242);
$pink: rgb(255, 55, 95);
$black: rgb(28, 28, 30);
$white: rgb(242, 242, 247);
